* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.left {
    height: 500px;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    min-width: 300px;
}

.left h4 {
    padding-top: 40px;
    color: rgb(207, 199, 199);
}

.left-score {
    padding: 50px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: inset 2px 120px 50px 0px hsla(256, 72%, 46%, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;

}

.big-score {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.full-score {
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;

}

.text h3 {
    padding-bottom: 20px;
    color: whitesmoke;
    font-weight: 200;
}

.text p {
    width: 15vw;
    color: rgb(207, 199, 199);
}

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-color: aliceblue;
    min-width: 300px;
    border-radius: 30px;
}

.gain-score {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

.scores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.right h4 {
    margin-left: 30px;
    margin-bottom: 20px;

}

.black-text {
    font-weight: bold;
    color: #222;
    margin-left: 140px;
}

.gray-text {
    color: rgba(87, 87, 87, 0.992);
}

.gain-score img {
    margin-left: -34px;
}

.reaction-score {
    color: rgb(207, 42, 42);
    background: rgb(248, 237, 237);
    margin: 0px 20px 10px 20px;
    border-radius: 5px;
    padding: 15px 0;
}

.Memory-score {
    color: rgb(236, 185, 109);
    background: rgb(247, 240, 228);
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    padding: 15px 0;
}

.Verbal-score {
    color: rgb(143, 173, 139);
    background: rgb(231, 250, 231);
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    padding: 15px 0;
}

.Visual-score {
    color: rgb(44, 44, 202);
    background: rgb(234, 234, 241);
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    padding: 15px 0;
}

button {
    background-color: rgb(46, 37, 37);
    border: none;
    padding: 20px;
    margin: 0px 20px;
    border-radius: 30px;
    color: white;
}

button:hover {
    background-color: palegoldenrod;
    color: black;
}

@media only screen and (max-width : 650px) {
    .container{
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        /* overflow: hidden; */
        padding: 0;
    }
    /* }
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .right{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; */
    }
